<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Component Tester</title>
    <style>
        table#myTable {
            width: 100%;
            border: .12em solid black;
        }

        table#myTable thead tr {
            background-color: black;
            color: white;
        }

        table#myTable th {
            cursor: pointer;
        }

        table#myTable tbody tr:nth-child(even) {
            background-color: lightgray;
        }
        table#myTable tbody td{
            padding-left: 10px;
            padding-right: 10px;
        }
        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>The kev-grid</h1>
    <div id="app" v-if="rows.length>0">
        <kev-grid v-bind:columns="columns" :data="rows" :table-id="'myTable'"></kev-grid>
    </div>

    <hr />

    <script type="text/javascript" src="../vue.js"></script>
    <script src="./kev-grid.component.vue.js"></script>
    <script src="../../node_modules/moment/min/moment.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                columns: [
                    { name: "Name", dataType: 'string', title: 'Company', className: 'text-center' },
                    { name: "Addr", dataType: 'string', title: 'Street Address', className: 'text-left' },
                    { name: "City", dataType: 'string', title: 'City', className: 'text-left' },
                    { name: "State", dataType: 'string', title: 'State', className: 'text-left' },
                    { name: "Zip", dataType: 'string', title: 'Zip', className: 'text-left' },
                    {
                        name: "EmployeeCnt", dataType: 'number', title: '# Employees', className: 'text-center', renderFn: function (val) {
                            return Intl.NumberFormat('en-us', { style: 'decimal', useGrouping: true }).format(val);

                        }
                    },
                    {
                        name: "FoundationDt", dataType: 'date', title: 'Founded On', className: 'text-center', renderFn: function (val) {

                            return moment(val, 'YYYY-MM-DD').format('MM/DD/YYYY');
                        }
                    }
                ],
                rows: []
            },
            created: function () {
                fetch('./data/addresses.json')
                    .then(resp => resp.json())
                    .then(data => this.rows = data);
            }
        })
    </script>
</body>

</html>